<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987695651068-q83mlsk08td96n140iqsa523mcsq83qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987695651068-q83mlsk08td96n140iqsa523mcsq83qb</string>
	<key>API_KEY</key>
	<string>AIzaSyCa6KiQeZNbp9XgK_OLNm_4-m6VeKJbJ3I</string>
	<key>GCM_SENDER_ID</key>
	<string>987695651068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nelson.nelsonFirebase</string>
	<key>PROJECT_ID</key>
	<string>nelson-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>nelson-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987695651068:ios:5278a2ac3efddbbdb4df79</string>
</dict>
</plist>