<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603334728014-deds77lnno5ce1br8j4pk217od1i55kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603334728014-deds77lnno5ce1br8j4pk217od1i55kg</string>
	<key>API_KEY</key>
	<string>AIzaSyCSpzeE1WdkrMK2b4xrxLu6NkjEdY9eV5g</string>
	<key>GCM_SENDER_ID</key>
	<string>603334728014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nelsonFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nelsonfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>nelsonfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603334728014:ios:28c2cc058a7c5a4555a61f</string>
</dict>
</plist>